# Dependencies
node_modules/

# Environment variables
.env

# Google API credentials
credentials.json

# Logs
*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db 

#Configuration setings
Configurations.local
